
version: '3.8'
services:
  api:
    build: .
    ports:
      - '8080:8080'
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - DB_NAME=cmsdb
      - JWT_SECRET=abc123
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
